.symbol{
    font-size: 30px;
    color: blue;
}
.add{
    font-size: 25px;
    
}
.box{height: 200px;
    width: 230px;
    padding: 2rem;
    margin: 10px;
    background-color: white;
border: 1px solid white; border-radius: 20px;
}
.box h2{
    color: blue;
}
.c_box{
    color: #424242;
}

.parent{
    display: flex;
    flex-wrap: wrap;
}
.child{
    display: flex;
    flex-wrap: wrap;
}
.main{
    width: 1000px;
     height: 800px; 
     position: relative; 
      background-color: aquamarine; 
      left: 15%;
      border: 1px solid white;
} 
.btn{ 
     position: relative;
      left: 70%;
       margin: 10px;
      }  
      .bar{
         height: 70px;
          position: relative; 
          left: 0%;
           background-color: honeydew;
            padding-left: 20px;
        } 
        .blur-page {
    filter: brightness(30%);
}
#popup {
    height: 250px;
    width: 500px;
    border: 0px solid blue;
    border-radius: 15px;
    background-color: white;
    color: #424242;
    box-shadow: 4px 4px 4px black, -4px -4px 4px black;
    position: absolute;
    top: 35%;
    left: 25%;

}

#add-cross {
    height: 60px;
}

#popup-add {
    float: left;
    margin-left: 20px;
}

#popup-cross {
    float: right;
}

#popup-text {
    height: 20px;
    width: 450px;
    margin-top: 40px;
}
   
#popup-button {
    float: right;
    border: 0px;
    height: 25px;
    width: 100px;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #00A5EC;

}

#popup-button:hover {
    color: whitesmoke;
    background-color: blueviolet;
}
//third page  
.main3{top: 0px;
    left: 0px;
    width: 1366px;
    height: 769px;
    /* UI Properties */
    background-color: #00A5EC;
    
    opacity: 1;}
    
    .first{ top: 0px;
    left: 0px;
    width: 1000px;
    height: 94px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #7B7B7B29;


    opacity: 1;} 
    
    .imp{top: 23px;
        left: 75px;
        width: 196px;
        height: 49px;
        /* UI Properties */
        text-align: left;
        font: normal normal bold 40px/49px Inter;
        letter-spacing: 0px;
        background-color: azure;
        opacity: 1;}

        .black{
        
            font-size: 25px;
        }
        .back{
            font-size: 25px;
            color: black;
            
        }
#right{
    position: relative;
    right:20%;
}



        .rap{
            display: flex;
            flex-wrap: nowrap;
            margin: 20px;
            left: 35%;
            position: relative;
            padding: 5px;
        }
        .line{
            text-decoration: line-through;
        }
        .box-last{
            height: 200px;
    width: 250px;
    padding: 2rem;
    margin: 20px;
    background-color: white;
border: 3px solid gray;
 border-radius: 20px;
 position: relative;
 left: 25%;
        }